@use 'src/styles/variables' as *;



.partner_container {
  margin-top: 200px;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  color: $gray-darker;
  * {
    transition: all 0.3s ease;
  }

  .partner-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    text-align: right;
    height: 100%;
  }
  .bg {
    width: 95%;
  }

  .row {
    padding: 20px;
  }

  .first {
    padding-top: 200px !important;
  }

  .partner_img {
    filter: gray;
    -webkit-filter: grayscale(100%);
    opacity: 0.3;
  }
}
